@import url('https://fonts.googleapis.com/css?family=Montserrat');
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

#app {
  height: 100%;
}
html,
body {
  font-family: "Montserrat" !important;
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
body div {
  font-family: "Montserrat" , sans-serif  !important;
}
.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #edf7f8;

  /* Center slide text vertically */
  display: flex;
  justify-content:flex-end;
  align-items:center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

