.topbar{
  background-color: #4f93f8 !important;
}
.navDivider{
  border-width: 1px !important;
  border-color: white !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.navtext{
margin: 0 0.5rem !important;
}
.linkText{
  text-decoration: none;
  color: white;
}


.mySwiper{
  height: 38rem;
}

@media (max-width: 900px) {
  .mySwiper{
    height: 25rem;
  }
}

.mainText{
  padding-top: 25%;
    color: #2b3b6f;
}
.mainsubText{
      color: #2b3b6f;
}
.subText{
  display: flex;
  justify-content: flex-end;
  margin-top: 20%;
  color: gray;
}
.slideImage{
  background-image: url("/Images/banner-background.png") ;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.policeImage{
    max-height: 31rem !important;
    margin-top: 15% !important;
  object-fit: contain !important;
}

.BBMstudent{
    max-height: 28rem !important;
    margin-top: 22% !important;
  object-fit: contain !important;
}

.general{
    max-height: 30rem !important;
    margin-top: 15% !important;
  object-fit: contain !important;
}
.student{
    max-height: 28rem !important;
    margin-top: 22% !important;
  object-fit: contain !important;
}

.aboutPrana{
  background-color:#4f93f8 ;
  height: 20rem;
}

.uniformGrid{
  text-align: center;
  padding-top: 4.5rem;
}

.uniformset{
  height: 11.5rem ;
  width: 18rem;
}
.titleaboutText{
  color: white;
}
.aboutText{
  color: white;
}
.aboutDivider{
  border-width: 1px !important;
  border-color: white !important;
  margin: 5%  1% !important;
}
.contactUs{
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("/Images/world-map.png") ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.contactUsTitle{
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #2b3b6f;
}
.contactUstextTitle{
  text-transform: uppercase;
  padding-top: 4rem;
  text-align: center;
  color: gray;
}
.constactUsGrid1{
  display: flex;
  align-items: center;
  justify-content: right;
}
.constactUsGrid2{
  display: flex;
  align-items: center;
  justify-content: left;
}
.contactUsaddress{
  padding-top: 0.5rem;
  text-align: center;
  color: gray;
}
.contactUsemailphone{
  padding-top: 0.5rem;
}
.contactUsMessage{
  padding-top: 4rem;
  text-align: center;
  font-weight: bold !important;
  color: gray;
}
.mapForm{
  padding-top: 4rem;
}
.mapview{
  text-align: -webkit-center
}
.mapformcontainer{
  border-radius: 20px;
  color: white;
  border: solid;
  background: linear-gradient(rgba(224,241,248,.6), rgba(224,241,248,.6));
}
.mapformTitle{
  padding-top: 0.5rem;
  text-align: center;
  color: gray;
  text-decoration: underline;
  text-transform: capitalize;
}
.footercontainer{
  background-color:  #4f93f8 !important;
  height: 6rem;
}
.footerTexttitle{
  display: flex;
  color: white;
  text-transform: capitalize;
}